#scrollToTopButtonContainer {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;

    #scrollToTopButton {
        display: block;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: none;
        background-color: rgb(237, 237, 237);
        box-shadow: 2px 2px 10px rgb(165, 165, 165);
        

        &:hover {
            transform: translateY(-8px);
            background-color: rgb(234, 234, 234);
            cursor: pointer;
        }
    }

    .fa fa-chevron-up {
        width: 24px;
    }
}